@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
// @mixin (mixin-name) {statements}
// className {@include base.@(mixin-name)}

//----- Colors -----\\
    // Basic colors
    $red: #ff0000; // red?
    $black: #000; // defult black
    $white: #fff; // defult white
    $blackish: #0a0514; // our black
    $whiteish: #fff2ef; // our white
    $yellowish: rgb(255, 227, 68); // favorites
    $pinkish: #ad776d;

    // Mark text
    $mark-text:#642012;

    // Hover on link
    $link-hover: #ad776d;

    // Scroll colors
    $scroll-bg: #5e5e5e;
    $scroll-color: #ad776d;
    $scroll-hover: #d8604d;

    // Font colors
    $color-font-w: #fff2ef;
    $color-font-b: #0a0514;

    // box Colors
    $box-color: #bd887fa2;
    $box-border-color: #f5dfdbcd;

//----- Table Colors -----\\
    // original
    $table-line1: #cea49d77;
    $table-line2: #cea49d77;
    $planet-text-bd: rgba(173, 172, 172, 0.67);

//- Planets individual - colors -\\
    // sun
    $solarsystem-sun-bg: #e4c263aa;
    $solarsystem-sun-border: #e4c263;

    // mercury
    $table-mercury-line1: #625c5caa;
    $table-mercury-line2: #898383aa;
    $planet-mercury-text-bd: #464242aa;
    $solarsystem-mercury-bg: #625c5cbf;
    $solarsystem-mercury-border: #625c5c;

    // venus
    $table-venus-line1: #c0aa7daa;
    $table-venus-line2: #c7bba2aa;
    $planet-venus-text-bd: #9e9177aa;
    $solarsystem-venus-bg: #c9b58daa;
    $solarsystem-venus-border: #c9b58d;

    // earth
    $table-earth-line1: #3983b4aa;
    $table-earth-line2: #3c6c8caa;
    $planet-earth-text-bd: #3375a1aa;
    $solarsystem-earth-bg: #3f80acaa;
    $solarsystem-earth-border: #3f80ac;

    // mars
    $table-mars-line1: #a46b55ae;
    $table-mars-line2: #ab6243ae;
    $planet-mars-text-bd: #664538ae;
    $solarsystem-mars-bg: #a46b55ae;
    $solarsystem-mars-border: #a46b55;

    // jupiter
    $table-jupiter-line1: #bead9dae;
    $table-jupiter-line2: #9c7d68ae;
    $planet-jupiter-text-bd: #bead9dae;
    $solarsystem-jupiter-bg: #bead9dae;
    $solarsystem-jupiter-border: #bead9d;

    // saturn
    $table-saturn-line1: #b7b2a1aa;
    $table-saturn-line2: #9a9586aa;
    $planet-saturn-text-bd: #a5a299aa;
    $solarsystem-saturn-bg: #b7b2a1aa;
    $solarsystem-saturn-border: #b7b2a1;

    // uranus
    $table-uranus-line1: #59a9c29a;
    $table-uranus-line2: #4f87969a;
    $planet-uranus-text-bd: #6ea6b69a;
    $solarsystem-uranus-bg: #8ed4dd9a;
    $solarsystem-uranus-border: #8ed4dd;

    // neptune
    $table-neptune-line1: #5b72bc9a;
    $table-neptune-line2: #7487d19a;
    $planet-neptune-text-bd: #7487d19a;
    $solarsystem-neptune-bg: #7490d19a;
    $solarsystem-neptune-border: #7490d1;

//----- fonts -----\\
    $font-p: "Times New Roman", Times, serif;
    $font-p1: "Playfair Display", serif;
    $font-h: "Rubik Dirt";
    $font-titelnormal: "Arial";
    $font-h1: "Dela Gothic One", cursive;

// Button shadow
    $button-shadow: 0px 1px 10px 0px black;

// Small padding
    $small-padding: 5px;

// Max width
    $common-max-width: 1200px;
    $common-max-content: 1600px;

//----- MIXINs - same style on compinents -----\\
    @mixin custom-box-shadow {
        box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
        -webkit-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
        -moz-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
    }

    @mixin Button {
        color: white;
        font-family: $font-h1;
        font-size: 1.5rem;

        background-color: #bd887f;

        border: 6px solid $box-border-color;
        border-radius: 16px;

        padding: 1vh 1vw;
        margin: 0px;

        cursor: pointer;
    }

    @mixin Button-slideshow {
        color: white;
        font-family: $font-h1;
        font-size: 1.5rem;

        background-color: #bd887f;

        border: 2px solid $box-border-color;
        border-radius: 16px;

        padding: 1vh 1vw;
        margin: 0px;

        cursor: pointer;
    }

    @mixin Boxes {
        background-color: $box-color;

        color: $color-font-w;

        border: 10px solid $box-border-color;
        border-radius: 25px;
    }
