@use "base";

.tabellDiv {
    background-color: base.$table-line1;
    color: base.$whiteish;
    height: 70%;
    width: 70%;

    margin: 0;
    padding: 0.5rem;

    border-radius: 0.8rem;

    position: absolute;
    top: 50%;
    left: 50%;

    color: base.$color-font-w;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    overflow: auto;
    scroll-behavior: smooth;
}

#favoriteButton {
    background: none;
    border: none;
    color: base.$color-font-w;
    cursor: pointer;
    transition: 0.3s ease;
}

#favoriteButton:hover {
    color: base.$yellowish;
}

#btnContent {
    font-size: 1.5rem;
    cursor: pointer;
}

.makeFavorite {
    color: gold !important;
    transition: 0.3s ease;
}

/*.makeFavorite:hover{
    color: white !important;
}*/

.filter{
    background-color: base.$whiteish;
    z-index: 10;

    position: sticky;
    top: -0.5rem;

    min-width: 870px;

    font-size: 1.5rem;
    font-family: base.$font-p;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .search {
        background-color: base.$color-font-w;

        width: 40%;
        padding: 5px 15px;
        margin: 5px;

        border: 2px solid base.$table-line1;
        border-radius: 5px;
    }

    .filter-span {
        color: black;
        margin-left: 5px;
        margin-right: 10px;
        position: sticky;
    }

    .select-type {
        height: 25px;
        position: sticky;
        text-align: center;
        
        font-size: 1rem;
        font-family: inherit;

        cursor: pointer;

        input {
            margin: 10px;
        }
    }

    .fav-type {
        background-color: base.$whiteish;

        width: fit-content;
        padding-left: 5px;

        text-align: center;
        color: base.$blackish;
        cursor: pointer;

        user-select: none;

        input{
            cursor: pointer;
        }
    }

// ----- Table general style ------------------------------

.itemtable {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    
    td, th {
        padding: 2px 0px 2px 7px;
        border: none;
        height: 3rem;
    }

    td {
        font-family: base.$font-p;
        cursor: pointer;
    }

    tbody tr:hover {
        transform: scale(1, 1.00);
        box-shadow: base.$button-shadow;
    }

    th {
        background: base.$whiteish;
        position: sticky;
        color: black;
        font-family: base.$font-titelnormal;
        z-index: 10;
        cursor: pointer;
    }

    thead{
        position: sticky;
        top: calc(39px - 0.5rem);
        width: 100%;
        z-index: 10;
    }

    tr:nth-child(even) {
        background-color: base.$table-line2;
        border-radius: 10px;
    }

    tr {
        border-radius: 10px;
    }

    // ----- columns in table ---------------------------------

    // Favorite column
    .item-table-title-favo,
    .item-table-info-favo {
        min-width: 40px;

        padding: 0;

        text-align: center;
    } 
    .item-table-title-favo {
        border-bottom-left-radius: 5px;
    } 
    .item-table-info-favo {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    // Number column
    .item-table-title-nr,
    .item-table-info-nr {
        min-width: 60px;

        padding: 0;

        text-align: center;
    }

    // Type column
    .item-table-title-type,
    .item-table-info-type {
        min-width: 100px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-type {
        padding-left: 5px;
    }

    // Name column
    .item-table-title-name,
    .item-table-info-name {
        min-width: 170px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-name {
        padding-left: 10px;
        padding-right: 2px;

        text-align: center;
    }

    // temperature column
    .item-table-title-temp,
    .item-table-info-temp {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        min-width: 160px;

        text-align: center;
    }
    .item-table-info-temp {
        text-align: center;

        padding-left: 15px;
    }

    // Gravity column
    .item-table-title-grav,
    .item-table-info-grav {
        min-width: 150px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-grav {
        text-align: center;

        padding-left: 10px;
        padding-right: 10px;
    }

    // Discovered column
    .item-table-title-disc,
    .item-table-info-disc {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        min-width: 190px;

        text-align: center;
    } 
    .item-table-title-disc {
        border-bottom-right-radius: 5px;
    }
    .item-table-info-disc {
        text-align: center;

        padding-left: 15px;
        padding-right: 10px;
    }
    .item-table-info-disc {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
