@use "base";

// ----- navbar stylses -------------------------------------------------------
::-webkit-scrollbar {
    width: 0.5rem;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: base.$scroll-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: base.$scroll-color;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: base.$scroll-hover; // FIXA
}

nav#nav {
    background-color: base.$blackish;
    color: base.$whiteish;

    position: fixed;
    z-index: 10;

    font-family: base.$font-h;
    font-size: 2.5rem;
    line-height: 6rem;

    user-select: none;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        width: 100%;
        max-width: base.$common-max-width;

        margin: 0px 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    

        .navLink {
            color: base.$whiteish;
            transition: 0.3s ease;
        }

        .navLink:hover {
            color: base.$link-hover !important;
            transition: 0.3s ease;
        }

        img {
            display: inline;
            float: left;
            height: 3rem;
            border-radius: 10px;
        }
    }
}

// ----- Right elements in navbar - Home, Items, Planet
#navright {
    font-size: 2.5rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

// ----- Left elements in Navbar - Login/Logout/Profile, Favorites
#navleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    a {
        font-size: 2.5rem;
    }
}

#droppa {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.toggla {
    display: flex !important;
}

#dropknapp {
    display: none;
}

.hamb1,
.hamb2,
.hamb3 {
    background-color: base.$whiteish;

    width: 2.3rem;
    height: 0.35rem;

    margin: 0.35rem 0;

    transition: 0.4s ease;
}

.droppaPlanets {
    display: inline-block;
}

#planetsID {
    cursor: pointer;
}

.contentPlanets {
    background-color: base.$blackish;

    position: absolute;
    display: none;
    z-index: 1;
    overflow-x: none;
    overflow-y: scroll;

    min-width: 160px;
    max-height: 200px;

    box-shadow: 0px 8px 16px 0px rgba(71, 71, 71, 0.632);

    text-align: center;

    border-radius: 0px 0px 7px 7px;
    a {
        display: block;
    }
}

.togglaPlanets {
    display: block !important;
}

#signOutBtn {
    background: none;
    border: none;
    color: base.$whiteish;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
    display: none;
}

#signOutBtn:hover {
    color: base.$link-hover !important;
}

.togglaSign {
    display: inline !important;
}

#not-droppa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profileBtn{
    font-size: 3rem !important;
}

.starBtn{
    font-size: 3.5rem !important;
}

@media only screen and (max-width: 800px) {
    .inner {
        flex-direction: column !important;
    }

    #not-droppa {
        height: 10dvh;
        width: 100%;
    }

    #droppa {
        display: none;
        height: 90dvh;
        justify-content: space-between !important;
        flex-direction: column;
        width: 100%;
        
    }

    #droppa a {
        display: block;
        width: 100%;
    }

    #navleft {
        float: none;
        flex-direction: column;
        align-items: start;
    }

    #navright {
        float: none;
        margin: 0px 0px 20px 0px;
    }

    #dropknapp {
        background: none;

        display: inline !important;
        float: right;

        border: none;
    }

    .contentPlanets {
        position: relative !important;
        margin-left: -0px;
        text-align: left;
    }
}
