body{
    padding: 0;
    margin: 0;
    font-family: arial;
    background-color: rgb(234, 250, 255);
}

html{
    scroll-behavior: smooth;
}

#navbar{
    background-color: rgb(255, 166, 0);
    width: 85%;
    position: fixed;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.854) 0px 8px 24px;
    margin-right: 7.5%;
    margin-left: 7.5%;
    user-select: none;
}

#navbarlogo{
    float: left;
    padding-left: 20px;
}

#navbarlogo img{
    height: 3rem;
}

#navbarlinks{
    float: right;
    padding-right: 20px;
}

#navbarlinks a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
    font-size: 1.2rem;
    display: inline-block;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-radius: 10%;
}

#navbarlinks a:hover{
    background-color: rgb(0, 143, 219);
}

.links{
    cursor: pointer;
}

#otherlinks{
    display: none;
}

.show{
    display: block !important;
}

#bild{
    height: 90vh;
    background-image: url("mack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bildtext{
    width: 50vw;
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(211, 211, 211, 0);
    user-select: none;
    text-shadow: 3px 3px #000000ec;
}

.textladda{
    color: rgb(255, 255, 255) !important;
    transition: 1s ease;
}

.infov{
    float: left;
    width: 40%;
    padding-left: 9%;
    margin-bottom: 1rem;
}

.infov p{
    font-size: 1.5rem;
}

.infov h1{
    font-size: 2rem;
}

.infoh{
    float: right;
    width: 40%;
    padding-right: 9%;
    text-align: center;
    margin-bottom: 1rem;
}

.infoh iframe{
    width: 100%;
    padding-top: 1rem;
}

.infoh img{
    width: 50%;
}

#footer{
    text-align: center;
    background-color: rgb(255, 166, 0);
    clear: both;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    line-height: 2rem;
}

#footer a{
    color: black;
}

#footer h2{
    line-height: 0.5rem !important;
}

#linje{
    border: 0.1rem solid rgb(58, 58, 58);
    width: 25%;
}

.dropdown{
    display: none;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    padding-top: 0.4rem;
    cursor: pointer;
}

.links{
    display: inline;
}

.visa{
    display: inline !important;
}

.hamb1, .hamb2, .hamb3{
    width: 2.3rem;
    height: 0.35rem;
    background-color: black;
    margin: 0.35rem 0;
    transition: 0.4s ease;
}

.change .hamb1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .hamb2{
    opacity: 0;
}

.change .hamb3{
    transform: translate(0, -11px) rotate(45deg);
}



@media only screen and (max-width: 1100px) {
    .infov{
        width: 80%;
        float: none;
        padding-left: 10%;
        padding-right: 10%;
    }

    .infoh{
        width: 80%;
        float: none;
        padding-left: 10%;
        padding-right: 10%;
    }

    .infov p{
        font-size: 1.5rem;
    }
    
    .infov h1{
        font-size: 2rem;
    }

    #footer{
        font-size: 1.5rem;
    }

    #bildtext{
        width: 100vw;
        padding-left: 0vw;
        padding-right: 0vw;
        text-align: center;
        font-size: 2.5rem;
    }
    

}

@media only screen and (max-width: 900px){
    #navbar{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #navbarlinks{
        display: none;
        width: 100%;
        text-align: center;
        float: none;
    }

    .links{
        display: inline-block !important;
        width: 100%;
    }

    .dropdown{
        display: block;
        float: right;
    }

    #footer{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #linje{
        width: 80%;
    }

    #footer h2{
        font-size: 1.5rem;
    }
    
}